# .github/workflows/ci.yml

name: Deno CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Cache Deno Dependencies
        uses: actions/cache@v4
        with:
          path: $HOME/.deno
          key: ${{ runner.os }}-deno-${{ hashFiles('**/*.ts', '**/*.tsx', '**/*.js', '**/*.jsx') }}
          restore-keys: |
            ${{ runner.os }}-deno-

      - name: Run Deno Formatter Check
        run: deno fmt --check

      - name: Run Deno Linter
        run: deno lint

      - name: Run Deno Tests
        # O flag --allow-net é crucial para buscar módulos remotos (esm.sh) usados no teste
        run: deno test --allow-net --allow-read
